<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gcard_macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <gcard_macro.Properties.Settings>
      <setting name="RaidURL" serializeAs="String">
        <value />
      </setting>
      <setting name="WaitSearch" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaitBattle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaitAttack" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaitReceive" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaitAccessBlock" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WaitMisc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RaidJoinAssault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidUseAssaultBE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidRequest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidBaseDamage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupURL" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupBaseDamage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupAttackMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GroupFirstAttackBoss" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupUseBoost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupReceiveCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupPointDiff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupUseAttack10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupUseAttack20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupEnemyCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupReceiveReword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAutoJobLevelUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupOnlySearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GShootingURL" serializeAs="String">
        <value />
      </setting>
      <setting name="GShootingBaseDamage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GShootingEnemyCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GShootingAttackMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GShootingReceiveCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GShootingOnlySearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GShootingReceiveReword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GShootingRequest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PromotionURL" serializeAs="String">
        <value />
      </setting>
      <setting name="PromotionAttackMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PromotionWatchRank" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GShootingReceivePresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupReceivePresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidReceivePresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidReceiveReword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PromotionSallyCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PromotionTimeStart" serializeAs="String">
        <value />
      </setting>
      <setting name="PromotionTimeEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="GTacticsURL" serializeAs="String">
        <value />
      </setting>
      <setting name="GTacticsBaseDamage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsEnemyCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsAttackMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsReceiveCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsOnlySearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsReceiveReword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsReceivePresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsShieldA1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldA2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldA3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldB1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldB2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldB3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldC1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldC2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsShieldC3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsStrategicArea" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsPriority" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsUseForce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsForceCharge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsForcePattern" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsPointDiff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsStandby" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidEnemyCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RaidAttackMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RaidReceiveCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RaidOnlySearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidAimMVP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidOnlyAttackAssultBoss" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidWaitRecieveAssult" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RaidWaitAtackBattleShip" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GroupFinalJob" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccessKey" serializeAs="String">
        <value />
      </setting>
      <setting name="GTacticsWaitForce" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RaidTimeStart" serializeAs="String">
        <value />
      </setting>
      <setting name="RaidTimeEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupTimeStart" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupTimeEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="GShootingTimeStart" serializeAs="String">
        <value />
      </setting>
      <setting name="GShootingTimeEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="GTacticsTimeStart" serializeAs="String">
        <value />
      </setting>
      <setting name="GTacticsTimeEnd" serializeAs="String">
        <value />
      </setting>
      <setting name="WaitContinueSearch" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OptimizedWaitEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OptimizedWaitEnemyCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RaidOnlyAttackAssultEnemy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidNoSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupNoSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GShootingNoSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsNoSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupUseCombo30" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupUseBE1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupCombo30Normal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupCombo30Mira" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupCombo30Boost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAttack20Normal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAttack20Mira" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAttack20Boost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAttack10Normal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAttack10Boost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupBE1Mira" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupBE1Normal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupCombo30FirstAttack" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupAttack20RequiredRatio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupBE1RequiredRatio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShootingRangeURL" serializeAs="String">
        <value />
      </setting>
      <setting name="ShootingRangeThresholdFocusShot" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShootingRangeUseFocusShotDuringFever" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShootingRangeUseFeverTip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShootingRangeAutoStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseCycleReceive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CycleRecieveTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GTacticsEnableRightArea" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsEnableCenterArea" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsEnableLeftArea" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidEnterAdditionalQuest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsSearchForce" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GTacticsSearchForceLeft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsSearchForceCenter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GTacticsSearchForceRight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RaidPriorityAttackAssultEnemy" serializeAs="String">
        <value>0</value>
      </setting>
    </gcard_macro.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>